@import "variables";

:host {
  -webkit-user-select: none;
  user-select: none;

  a,
  a:visited,
  a:hover,
  a:active {
    height: 100%;
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition-duration: 0.2s;
    border-radius: 4px;
  }

  a:hover {
    filter: $hover-filter;
  }

  a:active {
    scale: 0.95;
  }

  span {
    padding: 0.5rem;
  }

  img {
    max-height: 100%;
    max-width: 100%;

    + span {
      padding-left: 0;
    }
  }
}
