<main>
  <h1>Welcome to the Crystal Nest!</h1>
  <h1>We are dusting off some cobwebs, in the meantime...</h1>
  <h1>...consider supporting us!</h1>
</main>
<!-- 
Made of 4 numbers and optionally a lable (alpha/beta).
As usual, increasing left-most numbers reset other numbers to the right.
Labels work the same as being right-most numbers, this way mods can be compatible with the stable version without needing to update the dependency declaration.
First version works differently with labels as it's correct that mods should explicitly state the dependency to the full version too.
-->
