<cn-section fragment="overview" route="versioning" title="Overview">
  <span class="eop">A well-known standard for versioning is <a href="https://semver.org/" target="_blank">Semantic Versioning</a>. Building on this foundation, <strong>C</strong>rystal <strong>N</strong>est <strong>S</strong>emantic <strong>V</strong>ersioning (CNSV) aims to standardize versioning specifically for Minecraft mods.</span>
  <span>A CNSV-compliant version consists of two independent parts:</span>
  <ul class="eop">
    <li>The <strong>Minecraft Version</strong>, indicating the supported Minecraft version.</li>
    <li>The <strong>Mod Version</strong>, indicating the features and changes available.</li>
  </ul>
  <span class="eop">The Minecraft Version comes first, followed by the Mod Version, separated by a hyphen, to help users easily identify the required version. For example, a valid version could be <code>1.20.4-1.0.0</code>.</span>
  <span>When using our <a href="https://github.com/Crystal-Nest/cobweb-mod-template" target="_blank">template</a> or <a routerLink="/generator">mod generator</a>, the Minecraft Version and Mod Version are two separate properties. During the build process, these properties are combined to create a valid CNSV version.</span>
</cn-section>
<cn-section fragment="minecraft-version" route="versioning" title="Minecraft Version">
  <span>The Minecraft Version is straightforward: it must match the supported Minecraft version.</span>
  <span>When updating your mod to support a new Minecraft version, unless you also make significant changes to your mod's features or API, you only need to update the Minecraft Version.</span>
</cn-section>
<cn-section fragment="mod-version" route="versioning" title="Mod Version">
  <span>The Mod Version, adhering to the Semantic Versioning standard, consists of three non-negative numbers: Major, Minor, and Patch.</span>
  <span>When incrementing a number, all numbers to its right must be reset to 0.</span>
  <ul>
    <li>The Major version is incremented for breaking changes, affecting either end-users or API users.</li>
    <li>The Minor version is incremented for backward-compatible changes that introduce new features or deprecate existing ones.</li>
    <li>The Patch version is incremented for backward-compatible bug fixes.</li>
  </ul>
  <span>This system ensures that users and developers can easily determine the safety of updating your mod.</span>
  <br />
  <span class="eop">Optionally, the Mod Version can be followed by a hyphen and an <em>alpha</em> or <em>beta</em> designation, such as <code>1.20.4-1.0.0-alpha</code>. These versions are called <em>pre-release</em> or <em>unstable</em>. When no additional designation is used, versions are called <em>release</em> or <em>stable</em>.</span>
  <span>Unstable versions have different semantics for the Major, Minor, and Patch numbers:</span>
  <ul>
    <li>
      Alpha
      <ul>
        <li>Highly unstable, frequently changing, and likely to break backward compatibility.</li>
        <li>Only the Patch number should be incremented, regardless of backward compatibility.</li>
        <li>The Minor number can be incremented for very significant changes, regardless of backward compatibility.</li>
        <li>The Major number must not change.</li>
      </ul>
    </li>
    <li>
      Beta
      <ul>
        <li>Unstable but generally maintains backward compatibility.</li>
        <li>The Patch number should be incremented for backward-compatible bug fixes or for backward-compatible changes that introduce new features or deprecate existing ones.</li>
        <li>The Minor number should be incremented for breaking changes.</li>
        <li>The Major number must not change.</li>
      </ul>
    </li>
  </ul>
  <span>When transitioning from an alpha to a beta, you only need to change the designation, unless there are breaking changes. When moving from an unstable to a stable version, simply remove the designation unless there are breaking changes. For example, <code>1.0.1-alpha</code> -> <code>1.0.2-alpha</code> -> <code>1.0.2-beta</code> -> <code>1.2.0-beta</code> -> <code>1.2.0</code>.</span>
  <br />
  <span>An exception to the standard Minor and Patch semantics occurs when the Major version is <code>0</code>. In this case, you are indicating that the mod and its API are <strong>not ready for public use</strong>, and backward compatibility is not guaranteed:</span>
  <ul>
    <li>The standard semantics apply to Minor and Patch numbers, but substantial breaking changes should increment the Minor version rather than the Major.</li>
    <li>Alpha and beta designations are optional, but if you do use them, do not remove them until the Major version becomes <code>1</code>.</li>
    <li>When the mod and its API become stable, increment the Major version to <code>1</code> and remove any alpha or beta designation.</li>
  </ul>
  <br />
  <span>If you need to update your mod for only a subset of supported Minecraft versions, such as fixing a bug in older versions, follow these guidelines:</span>
  <ul>
    <li><strong>Increment the Mod Version for new releases only</strong>: when releasing a new Mod Version for just a subset of your supported Minecraft versions, increment the Mod Version only for those releases, leaving the others unchanged.</li>
    <li><strong>Maintain consistency across versions</strong>: if you later release a new version for a Minecraft version that didn't have its Mod Version increased, ensure you increment its Mod Version to match the highest current version, not the next sequential number. This maintains consistency with the changes introduced.</li>
  </ul>
  <span>For example, you might find and fix a bug in version <code>1.19.4</code>. Later, you find another bug affecting all versions and fix that too. Here's how your versions should be updated:</span>
  <ul>
    <li>
      Initial versions:
      <ul>
        <li><code>1.20.4-1.0.0</code></li>
        <li><code>1.20.2-1.0.0</code></li>
        <li><code>1.19.4-1.0.0</code></li>
      </ul>
    </li>
    <li>
      Bugfix for 1.19.4 only:
      <ul>
        <li><code>1.20.4-1.0.0</code></li>
        <li><code>1.20.2-1.0.0</code></li>
        <li><code>1.19.4-1.0.1</code></li>
      </ul>
    </li>
    <li>
      Bugfix for all versions:
      <ul>
        <li><code>1.20.4-1.0.2</code></li>
        <li><code>1.20.2-1.0.2</code></li>
        <li><code>1.19.4-1.0.2</code></li>
      </ul>
    </li>
  </ul>
  <span>In this example, <code>1.20.4</code> and <code>1.20.2</code> skipped Mod Version <code>1.0.1</code>. This ensures your Mod Version scheme remains consistent and aligned with the changes made.</span>
</cn-section>
<cn-section fragment="depending" route="versioning" title="Depending">
  <span class="eop">When depending on another mod that complies with CNSV, you only need to check the Mod Version, as the Minecraft Version is assumed to be the same (otherwise, the game wouldn't load).</span>
  <span>Fabric and Forge/NeoForge use different conventions for specifying allowed versions when depending on another mod:</span>
  <ul>
    <li><strong>Fabric</strong>: Fabric uses its own <a href="https://fabricmc.net/wiki/documentation:fabric_mod_json_spec#versionrange" target="_blank">version range specification</a>. For a CNSV-compliant mod, you can use <code>^mod_version</code>, ensuring compatibility with the specified version and up within the same major version.</li>
    <li><strong>Forge and NeoForge</strong>: These platforms use the <a href="https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html" target="_blank">Maven Version Range</a>. For a CNSV-compliant mod, you can use <code>[mod_version,)</code>, ensuring compatibility with the specified version and up within the same major version.</li>
  </ul>
</cn-section>
<cn-section fragment="related-conventions" route="versioning" title="Related conventions">
  <span>The CNSV standard influences other naming conventions involving Minecraft and Mod versions:</span>
  <ul>
    <li>To refer to the same Mod Version across any Minecraft Version, use the format <code>vMOD</code>, where <code>MOD</code> is the Mod Version.<br />For example, <code>v1.0.0</code> refers to all mod builds with the same Mod Version, regardless of the Minecraft Version.</li>
    <li>For artifact (<code>.jar</code> file) naming, use the format <code>ID-LOADER-MC-MOD</code>, where <code>ID</code> is the mod <code>ID</code> in kebab case, <code>LOADER</code> is the supported mod loader in lowercase, <code>MC</code> is the Minecraft Version, and <code>MOD</code> is the Mod Version.<br />For example, <code>cobweb-fabric-1.20.4-1.0.0</code> is the artifact for the Cobweb <code>v1.0.0</code> build that supports Fabric and Minecraft 1.20.4.</li>
    <li>When publishing a mod release on GitHub, the release must include artifacts for all supported mod loaders and use the format <code>vMC-MOD</code> for both the tag and release name, where <code>MC</code> is the Minecraft Version and <code>MOD</code> is the Mod Version.<br />For example, <code>v1.20.4-1.0.0</code> is the release for <code>v1.0.0</code> that supports Minecraft 1.20.4 and contains artifacts for every supported mod loader.</li>
    <li>When publishing an artifact to a modding platform such as Modrinth or CurseForge, use the format <code>[LOADER - MC] TITLE vMOD</code> for the display name, where <code>LOADER</code> is the supported mod loader in <strong>pascal case</strong>, <code>TITLE</code> is the mod title, <code>MC</code> is the Minecraft Version, and <code>MOD</code> is the Mod Version.<br />For example, <code>[Fabric - 1.20.4] Cobweb v1.0.0</code> is the display name for the artifact <code>cobweb-fabric-1.20.4-1.0.0</code>.</li>
    <li>For Maven package naming, use the format <code>GROUP:ID-LOADER:MC-MOD</code>, where <code>GROUP</code> is the Java group, <code>ID</code> is the mod ID in kebab case, <code>LOADER</code> is the supported mod loader in lowercase, <code>MC</code> is the Minecraft Version, and <code>MOD</code> is the Mod Version.<br />For example, <code>it.crystalnest:cobweb-fabric:1.20.4-1.0.0</code> is the Maven package for the Cobweb <code>v1.0.0</code> build that supports Fabric and Minecraft 1.20.4.<br />In XML format, it would be:<markdown [data]="xmlMavenPackageSnippet" /></li>
  </ul>
  <span>Our template and mod generator handle all these aspects automatically.</span>
</cn-section>
<cn-section fragment="final-notes" route="versioning" title="Final notes">
  <span class="eop">Since we introduced the CNSV standard after we began development, only our most recent mod versions adhere to it. Previously, we followed a loose interpretation of <a href="https://docs.minecraftforge.net/en/latest/gettingstarted/versioning/" target="_blank">Forge Semantic Versioning</a>.</span>
  <span class="eop">If you have any questions about the Mod Version, please refer to the <a href="https://semver.org/#faq" target="_blank">Semantic Versioning FAQ</a>.</span>
  <span>Still have questions? Come chat with us on <a href="https://discord.gg/BP6EdBfAmt" target="_blank">Discord</a>!</span>
</cn-section>
