@import "variables";

:host {
  margin-top: auto;

  footer {
    display: flex;
    justify-content: center;
    height: $footer-height;
    padding: 1rem;
    background-color: #0c0c0c;
    color: #b7bec5;

    > ul {
      list-style: none;

      &.infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: fit-content;

        > li {
          &:first-child {
            height: 2.75rem;
            font-size: 1.75rem;
            white-space: nowrap;
            color: #e3e3e3;
          }
        }
      }

      &.links > li {
        height: calc(($footer-height - 2rem - $grid-gap-small) / 2);
        width: fit-content;
      }

      &.banner > li {
        height: calc($footer-height - 2rem);
        width: fit-content;
        align-self: center;
        margin: 0 1.5rem 0 1.25rem;
      }
    }
  }

  @media (max-width: $desktop-small) {
    footer {
      height: fit-content;
      gap: 1rem;
      justify-content: space-between;
      flex-wrap: wrap;

      > ul {
        &.infos {
          order: 1;
        }
        &.links {
          order: 2;
        }
        &.banner {
          order: 3;

          > li {
            height: auto;
            margin: 0;
          }
        }
      }
    }
  }

  @media (max-width: $mobile) {
    footer {
      justify-content: center;

      > ul {
        &.infos {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          min-width: fit-content;
        }

        &.links > li {
          height: auto;
          width: fit-content;
          grid-column-end: span 2;
        }
      }
    }
  }
}
