<div class="description">
  <div class="description-title">
    <img src="/assets/images/home.png" />
    <span>Crystal Nest</span>
  </div>
  <span class="description-body">
    <i>...Reaching the deepest and darkest depths, shafts of light shine through into its cave, their glow scattered across its domain by the purple crystals within. It awakens, ready to act...</i>
    — Want to be part of the tale?
  </span>
</div>
<div class="projects">
  <div class="projects-title">
    <span>Our projects</span>
  </div>
  <div class="projects-list cn-grid">
    <cn-contact-button class="cn-cell-3" img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/cobweb-mod-template/cobweb-mod-template.png" link="/generator" text="MSG" />
    <cn-contact-button class="cn-cell-3" img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/harvest-with-ease/harvest-with-ease.gif" link="https://modrinth.com/mod/harvest-with-ease" text="HWE" />
    <cn-contact-button class="cn-cell-3" img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/soul-fire-d/soul-fire-d.gif" link="https://modrinth.com/mod/soul-fire-d" text="SF" />
    <cn-contact-button class="cn-cell-3" img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/leathered-boots/leathered-boots.gif" link="https://modrinth.com/mod/leathered-boots" text="LB" />
    <cn-contact-button class="cn-cell-3" img="/assets/images/home.png" link="" text="CN" />
    <cn-contact-button class="cn-cell-3" img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/torch-hit/torch-hit.gif" link="https://modrinth.com/mod/torch-hit" text="TH" />
    <cn-contact-button class="cn-cell-3" img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/nightworld/nightworld.png" link="https://modrinth.com/mod/nightworld" text="NW" />
    <cn-contact-button class="cn-cell-3" img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/fabric-polyfill/fabric-polyfill.png" link="https://modrinth.com/mod/fabric-polyfill" text="FP" />
  </div>
</div>
<div class="contacts cn-grid">
  <div class="cn-cell-6">
    <cn-contact-button img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/github/github256.png" link="https://github.com/crystal-nest" text="GitHub" />
    <cn-contact-button img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/modrinth/modrinth256.png" link="https://modrinth.com/user/CrystalSpider" text="Modrinth" />
    <cn-contact-button img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/curseforge/curseforge256.png" link="https://www.curseforge.com/members/crystal_spider_/projects" text="CurseForge" />
  </div>
  <div class="cn-cell-6">
    <cn-contact-button img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/patreon/patreon256.png" link="https://www.patreon.com/crystalspider" text="Patreon" />
    <cn-contact-button img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/kofi/kofi256.png" link="https://ko-fi.com/crystalspider" text="Kofi" />
    <cn-contact-button img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/twitch/twitch256.png" link="https://www.twitch.tv/crystal_spider_" text="Twitch" />
  </div>
  <cn-contact-button class="cn-cell-12" img="https://www.bisecthosting.com/partners/custom-banners/d559b544-474c-4109-b861-1b2e6ca6026a.webp" link="https://bisecthosting.com/crystalspider" />
</div>
