@import "../../../../../styles/variables.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $footer-section-separation;
  height: $footer-height;
  padding: $footer-section-separation clamp(4%, 16%, 256px);
  background-color: black;

  > div {
    max-width: 30%;
  }

  .description,
  .projects {
    display: flex;
    flex-direction: column;
    gap: $footer-item-separation;
    height: 100%;
    color: white;
  }

  .description .description-title {
    display: flex;
    align-items: center;
    gap: $footer-item-separation;
    font-size: $footer-title-size;
    white-space: nowrap;

    > img {
      height: calc($footer-icon-size * 2);
    }
  }

  .projects {
    justify-content: start;

    .projects-title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: $footer-title-size;
      white-space: nowrap;
      height: calc($footer-icon-size * 2);
    }
  }

  .contacts {
    > div {
      display: flex;
      flex-direction: column;
      gap: $footer-item-separation;
    }

    cn-contact-button.cn-cell-12 {
      width: 100%;
      height: auto;
    }
  }

  cn-contact-button {
    height: $footer-icon-size;
  }
}
