<footer>
  <ul class="infos">
    <li><cn-link-button icon="/assets/images/home-round.png" link="" text="Crystal Nest" /></li>
    <li><a href="mailto:crystal.aranea@gmail.com">crystal.aranea&#64;gmail.com</a></li>
    <li><a href="https://github.com/Crystal-Nest/crystalnest.it" target="_blank">Open-source</a> website</li>
    <li>© 2025 Crystal Nest, GPLv3</li>
  </ul>
  <ul class="cn-grid-small banner">
    <li class="cn-cell-12"><cn-link-button icon="https://www.bisecthosting.com/partners/custom-banners/d559b544-474c-4109-b861-1b2e6ca6026a.webp" link="https://bisecthosting.com/crystalspider" /></li>
  </ul>
  <ul class="cn-grid-small links">
    <li class="cn-cell-4 align-self-end"><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/github/github128.png" link="https://github.com/Crystal-Nest" /></li>
    <li class="cn-cell-4 align-self-end"><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/modrinth/modrinth128.png" link="https://modrinth.com/organization/crystal-nest" /></li>
    <li class="cn-cell-4 align-self-end"><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/curseforge/curseforge128.png" link="https://www.curseforge.com/members/crystalspider/projects" /></li>
    <li class="cn-cell-4 align-self-end"><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/discord/discord128.png" link="https://discord.gg/BP6EdBfAmt" /></li>
    <li class="cn-cell-4 align-self-end"><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/kofi/kofi128.png" link="https://ko-fi.com/crystalspider" /></li>
    <li class="cn-cell-4 align-self-end"><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/patreon/patreon128.png" link="https://www.patreon.com/crystalspider" /></li>
  </ul>
</footer>
