<header>
  <nav class="cn-grid">
    <ul class="cn-cell-9 navigation">
      <li>
        <cn-link-button icon="/assets/images/home-round.png" link="" text="Crystal Nest" [disabled]="true" [matMenuTriggerFor]="menu" (menuClosed)="onMenuClose()" (menuOpened)="onMenuOpen()" />
        <cn-link-button icon="/assets/images/home-round.png" link="" text="Crystal Nest" />
      </li>
      <li [class.active]="activeRoute === 'generator'"><cn-link-button link="/generator" text="Mod generator" /></li>
      <li [class.active]="activeRoute === 'versioning'"><cn-link-button link="/versioning" text="Mod versioning" /></li>
      <li [class.active]="activeRoute === 'mods'"><cn-link-button link="/mods" text="Browse mods" /></li>
      <li class="menu">
        <mat-icon [fontIcon]="menuOpen ? 'expand_less' : 'expand_more'" [matMenuTriggerFor]="menu" (menuClosed)="onMenuClose()" (menuOpened)="onMenuOpen()" />
        <mat-menu #menu="matMenu" class="cn-nav-menu">
          <div class="menu-content">
            <cn-link-button link="" text="Home" />
            <cn-link-button link="/generator" text="Mod generator" />
            <cn-link-button link="/versioning" text="Mod versioning" />
            <cn-link-button link="/mods" text="Browse mods" />
          </div>
        </mat-menu>
      </li>
    </ul>
    <ul class="cn-cell-3 support">
      <li><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/github/github128.png" link="https://github.com/Crystal-Nest" /></li>
      <li><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/modrinth/modrinth128.png" link="https://modrinth.com/organization/crystal-nest" /></li>
      <li><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/curseforge/curseforge128.png" link="https://www.curseforge.com/members/crystalspider/projects" /></li>
      <mat-divider [vertical]="true" />
      <li><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/discord/discord128.png" link="https://discord.gg/BP6EdBfAmt" /></li>
      <li><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/kofi/kofi128.png" link="https://ko-fi.com/crystalspider" /></li>
      <li><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/patreon/patreon128.png" link="https://www.patreon.com/crystalspider" /></li>
    </ul>
  </nav>
</header>
