@import "variables.scss";
@import "theme.scss";

:host {
  position: sticky;
  top: 0;
  z-index: 1;

  header {
    display: flex;
    background-color: $purple-500;
    color: $purple-a500;
    height: 5rem;
    padding: 1rem;

    nav {
      align-items: center;
      width: 100%;

      ul {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 2rem;
        list-style: none;

        &.cn-navigation {
          gap: min(1.5rem, 4%);

          > li:first-child {
            color: #cb9aec;
            height: 3rem;
            font-size: 2rem;
            margin-right: 2rem;
          }
        }

        &.cn-pages {
          gap: min(2rem, 4%);
          justify-content: center;
        }

        &.cn-support {
          justify-content: end;
        }

        > li {
          height: 2rem;
          font-size: 1.25rem;
        }
      }
    }
  }
}
