<div class="header-title" [routerLink]="['']">
  <span>Crystal Nest</span>
</div>
<div class="header-content">
  <div class="header-section">
    <cn-contact-button img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/github/github256.png" link="https://github.com/crystal-nest" />
    <cn-contact-button img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/modrinth/modrinth256.png" link="https://modrinth.com/user/CrystalSpider" />
    <cn-contact-button img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/curseforge/curseforge256.png" link="https://www.curseforge.com/members/crystal_spider_/projects" />
  </div>
  <cn-separator />
  <div class="header-section">
    <cn-contact-button img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/patreon/patreon256.png" link="https://www.patreon.com/crystalspider" />
    <cn-contact-button img="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/kofi/kofi256.png" link="https://ko-fi.com/crystalspider" />
  </div>
</div>
