<div class="left">
  <button (click)="emitToggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <button class="home" [routerLink]="['']">
    <img src="/assets/images/home.png" />
    Crystal Nest
  </button>
  <a class="github" href="https://github.com/crystal-nest" target="_blank">
    <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/github/github256.png" />
  </a>

  <a class="github" href="https://modrinth.com/user/CrystalSpider" target="_blank">
    <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/modrinth/modrinth256.png" />
  </a>

  <a class="github" href="https://www.curseforge.com/members/crystal_spider_/projects" target="_blank">
    <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/curseforge/curseforge256.png" />
  </a>
  <div class="separator"></div>

  <div class="support">
    <span>Social</span>
    <a class="github" href="https://www.twitch.tv/crystal_spider_" target="_blank">
      <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/twitch/twitch256.png" />
    </a>
  </div>
  <div class="separator"></div>

  <div class="support">
    <span>Support us!</span>
    <a class="github" href="https://www.patreon.com/crystalspider" target="_blank">
      <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/patreon/patreon256.png" />
    </a>
    <a class="github" href="https://ko-fi.com/crystalspider" target="_blank">
      <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/kofi/kofi256.png" />
    </a>
  </div>
</div>
<div class="right"></div>
