@import "../../../../../styles/variables.scss";

:host {
  display: flex;
  background: #180f2e;
  width: calc(100% - $nav-icon-size * 2);
  height: $nav-icon-size * 2;
  position: fixed;
  top: 0;

  > .header-title {
    height: 100%;
    padding: calc($nav-icon-size / 2);
    display: flex;
    align-items: center;
    color: white;
    font-size: $nav-icon-size;
    white-space: nowrap;
    font-family: "Silkscreen";
    cursor: pointer;
  }

  > .header-content {
    display: flex;
    justify-content: end;
    flex: 1;
    height: 100%;
    padding: calc($nav-icon-size / 2);
    box-sizing: border-box;

    .header-section {
      display: flex;
      gap: calc($nav-icon-size / 2);
    }
  }
}
