@import "variables.scss";

:host {
  display: flex;
  transition-duration: $contact-button-transition-duration;
  border-radius: $contact-button-border-radius;

  &:hover {
    box-shadow: $contact-button-shadow-color 4px 4px 8px -2px;
    transform: translateY($contact-button-translate-y);
  }

  a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: $contact-button-gap;

    > img {
      border-radius: $contact-button-border-radius;
      max-height: 100%;
      max-width: 100%;
    }
  }
}
