:host {
  display: block;
  width: 100%;
  background-color: white;
  border: 1px solid #003b5c;
  border-radius: 4px;
  overflow: hidden;

  .list-table {
    overflow: auto;
    height: 5 * 32px;

    .mat-table {
      background-color: transparent;
    }
  }
}
