@if (visible) {
  <form [formGroup]="form">
    <div class="list-table">
      <mat-table class="container-margin" [dataSource]="options">
        <ng-container matColumnDef="checkbox">
          <mat-cell *matCellDef="let row; let i = index" class="table-cell-size-xs">
            <cn-checkbox class="action-item" tabindex="-1" formControlName="check-{{ row.key }}" (click)="clickOnCheckbox($event, i)"></cn-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="value">
          <mat-cell *matCellDef="let element">{{ element.label }}</mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: ['checkbox', 'value']; let i = index" (click)="clickOnRow($event, i)"> </mat-row>
      </mat-table>
    </div>
  </form>
}
