<section>
  <img src="/assets/images/home-round.png" />
  <span class="title">Crystal Nest</span>
  <span class="subtitle">Modding team focused on making high quality Minecraft mods supporting a wide range of versions.</span>
  <div class="nav-buttons">
    <cn-button icon="build" label="Make your own" routerLink="/generator" />
    <cn-button icon="search" label="Browse our mods" routerLink="/mods" />
  </div>
  <ul class="cn-grid-small">
    <li class="cn-cell-2"><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/github/github128.png" link="https://github.com/Crystal-Nest" /></li>
    <li class="cn-cell-2"><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/modrinth/modrinth128.png" link="https://modrinth.com/organization/crystal-nest" /></li>
    <li class="cn-cell-2"><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/curseforge/curseforge128.png" link="https://www.curseforge.com/members/crystalspider/projects" /></li>
    <li class="cn-cell-2"><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/discord/discord128.png" link="https://discord.gg/BP6EdBfAmt" /></li>
    <li class="cn-cell-2"><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/kofi/kofi128.png" link="https://ko-fi.com/crystalspider" /></li>
    <li class="cn-cell-2"><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/patreon/patreon128.png" link="https://www.patreon.com/crystalspider" /></li>
  </ul>
</section>
