:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 3em;
    font-weight: 300;
    font-family: "Silkscreen";
    font-style: normal;
    text-align: center;
  }

  button {
    background-color: transparent;
    border: 2px solid #fefefe;
    color: #fefefe;
    padding: 0.75em 1.25em;
    cursor: pointer;
    font-size: 1em;
    border-radius: 8px;
    text-align: center;
    font-family: "Silkscreen";
    font-style: normal;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
    transition-duration: 200ms;

    &:hover {
      color: #8f59b7;
      background-color: #fefefe;
      box-shadow: rgba(50, 50, 93, 1) 0px 4px 10px -2px, rgba(0, 0, 0, 1) 0px 2px 6px -2px;
      transform: translateY(-0.15em);
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
}

.support {
  display: flex;

  img {
    width: 100%;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
    transition-duration: 200ms;

    &:hover {
      box-shadow: rgba(50, 50, 93, 1) 0px 4px 10px -2px, rgba(0, 0, 0, 1) 0px 2px 6px -2px;
      transform: translateY(-0.15em);
    }
  }
}
