@import "variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex: 1;
  height: 100%;
  padding: 3rem;

  > span {
    max-width: 40rem;
    text-align: center;
    line-height: 1.5rem;
    color: #e3e3e3;

    &.error-code {
      font-size: 14rem;
      line-height: 13rem;
      padding: 0;
      opacity: 0.25;

      @media (max-width: $mobile) {
        font-size: 10rem;
        line-height: 9rem;
      }

      @media (max-width: $mobile-small) {
        font-size: 8rem;
        line-height: 7rem;
      }
    }

    &.error-desc {
      font-weight: 200;
    }

    &.error-details {
      font-weight: 500;
    }

    @media (max-width: $mobile) {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }

  > .error-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 32rem;
    margin-top: 1rem;

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;
      margin-top: 0;
    }
  }
}
