@import "variables", "mixins";
@import "@material/layout-grid/mdc-layout-grid";

.cn-grid {
  @include mdc-layout-grid-inner(desktop, 0, $grid-col-gap);

  &.cn-top-spacing-l {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-top: $grid-row-gap-l;
    }
  }

  &.cn-top-spacing-m {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-top: $grid-row-gap-m;
    }
  }

  &.cn-top-spacing-s {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-top: $grid-row-gap-s;
    }
  }

  &.cn-top-padding-l {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      padding-top: $grid-row-gap-l;
    }
  }

  &.cn-top-padding-m {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      padding-top: $grid-row-gap-m;
    }
  }

  &.cn-top-padding-s {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      padding-top: $grid-row-gap-s;
    }
  }

  &.cn-bottom-spacing-l {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-bottom: $grid-row-gap-l;
    }
  }

  &.cn-bottom-spacing-m {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-bottom: $grid-row-gap-m;
    }
  }

  &.cn-bottom-spacing-s {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-bottom: $grid-row-gap-s;
    }
  }

  &.cn-bottom-spacing-l {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-bottom: $grid-row-gap-l;
    }
  }

  &.cn-bottom-spacing-m {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-bottom: $grid-row-gap-m;
    }
  }

  &.cn-bottom-padding-s {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      padding-bottom: $grid-row-gap-s;
    }
  }

  .cn-cell {
    @for $i from 1 to 13 {
      &-#{$i} {
        @include mdc-layout-grid-cell(desktop, $i, $grid-col-gap);

        &.align-self-to-top {
          align-self: flex-start;
        }

        &.align-self-to-center {
          align-self: center;
        }

        &.align-self-to-bottom {
          align-self: flex-end;
        }
      }
    }
  }
}
