@import "variables", "mixins";
@import "@material/layout-grid/mdc-layout-grid";

// Property grid-gap is overridden forcibly to workaround this known bug: https://github.com/material-components/material-components-web/issues/1879

.cn-grid {
  @include mdc-layout-grid-inner(desktop, 0, $grid-gap);
  grid-gap: $grid-gap !important;

  > .cn-cell {
    @for $i from 1 to 13 {
      &-#{$i} {
        @include mdc-layout-grid-cell(desktop, $i, $grid-gap);

        &.align-self-start {
          justify-self: flex-start;
        }

        &.align-self-center {
          justify-self: center;
        }

        &.align-self-end {
          justify-self: flex-end;
        }
      }
    }
  }
}

.cn-grid-small {
  @include mdc-layout-grid-inner(desktop, 0, $grid-gap-small);
  grid-gap: $grid-gap-small !important;

  > .cn-cell {
    @for $i from 1 to 13 {
      &-#{$i} {
        @include mdc-layout-grid-cell(desktop, $i, $grid-gap-small);

        &.align-self-start {
          justify-self: flex-start;
        }

        &.align-self-center {
          justify-self: center;
        }

        &.align-self-end {
          justify-self: flex-end;
        }
      }
    }
  }
}
