// Grid.
$grid-gap: 1rem;
$grid-gap-small: 0.75rem;
$grid-gap-tiny: 0.5rem;

// Separator
$separator-margin: 0.5rem;
$separator-border-radius: 8px;
$separator-border-size: 1px;

// Icons
$nav-icon-size: 2rem;

// Header
$header-height: 5rem;

// Footer
$footer-icon-size: 1.5rem;
$footer-height: 10rem;
$footer-title-size: 2rem;
$footer-section-separation: 2rem;
$footer-item-separation: 0.5rem;

// Media queries
$desktop-large: 1240px;
$desktop: 980px;
$desktop-small: 860px;
$desktop-tiny: 740px;
$mobile: 500px;
$mobile-small: 360px;
