:host {
  .cn-stepper-footer {
    display: grid;
    grid-auto-flow: column;
    margin-top: 24px;

    > cn-button[stepperkind="previous"] {
      justify-self: flex-start;
    }

    > cn-button[stepperkind="next"] {
      justify-self: flex-end;
    }
  }
}
