<mat-stepper #stepper animationDuration="0" orientation="horizontal" [linear]="true">
  @for (step of steps; track $index) {
    @if (!step.isVisible || step.isVisible()) {
      <mat-step>
        <ng-template matStepLabel>{{ step.label }}</ng-template>
        <ng-container [ngTemplateOutlet]="contents.get($index)!"></ng-container>
        <div class="cn-stepper-footer">
          @if ((!step.hasBack || step.hasBack()) && $index > 0) {
            <cn-button icon="keyboard_arrow_left" label="Previous" stepperKind="previous"></cn-button>
          }
          @if ((!step.hasNext || step.hasNext()) && $index < steps.length - 1) {
            <cn-button icon="keyboard_arrow_right" label="Next" stepperKind="next"></cn-button>
          }
        </div>
      </mat-step>
    }
  }
</mat-stepper>
