<form [formGroup]="form">
  <cn-toggle class="cn-cell-3" formControlName="crystalNestMod" label="Are you a Crystal Nest's member?"></cn-toggle>
  <cn-stepper [steps]="steps">
    <ng-template step>
      <div class="cn-grid">
        <cn-input class="cn-cell-6" formControlName="minecraftVersion" hint="Target Minecraft version" label="Minecraft version" />
        <cn-select class="cn-cell-6" formControlName="loaders" hint="Which mod loaders to support" label="Loaders" [multiple]="true" [options]="loaders" />
        {{ this.form.controls.loaders.value }}
      </div>
    </ng-template>
    <ng-template step>
      <div class="cn-grid">
        <cn-input class="cn-cell-6" formControlName="modTitle" label="Mod title" />
        <cn-checkbox class="cn-cell-6" formControlName="autogenModId" label="Autogenerate IDs"></cn-checkbox>
        <cn-input class="cn-cell-6" formControlName="modId" hint="Mod unique identifier" label="Mod ID" regex="^[a-z0-9_]+$" />
        <cn-input class="cn-cell-6" formControlName="modIdKebab" label="Mod ID kebab-case" regex="^[a-z0-9-]+$" />
      </div>
    </ng-template>
    <ng-template step>
      <div class="cn-grid">
        <textarea class="cn-cell-6" formControlName="description"></textarea>
      </div>
    </ng-template>
    <ng-template step>
      <div class="cn-grid">
        <cn-input class="cn-cell-4" formControlName="group" hint="Java group, es. `it.crystalnest`" label="Java group" />
        <cn-input class="cn-cell-4" formControlName="authors" hint="List of authors separated by a comma" label="Mod authors" />
        <cn-input class="cn-cell-4" formControlName="githubUser" hint="Name of the GitHub account/organization where the source code is hosted" label="GitHub owner" />
      </div>
    </ng-template>
  </cn-stepper>
</form>
<button [disabled]="!validity" (click)="emitSubmit()">Download</button>
