@import "variables";

:host {
  form {
    min-width: $mobile - 4rem - 2rem;
    padding-top: 1rem;

    cn-checkbox {
      &.horizontal {
        padding-bottom: 1.25rem;
      }
      &.vertical {
        padding-bottom: 0.75rem;
      }
    }

    .short-step {
      align-items: center;
      height: 156px;
    }

    .form-footer {
      padding: 1.5rem;
      padding-bottom: 0;
    }
  }
}
