<form [formGroup]="form">
  <cn-checkbox class="cn-cell-3" formControlName="crystalNestMod" label="Are you Crystal Nest's member?"></cn-checkbox>
  <cn-stepper [steps]="steps">
    <ng-template step>
      <cn-input formControlName="minecraftVersion" label="Minecraft version" />
    </ng-template>
    <ng-template step>
      <cn-input class="cn-cell-3" formControlName="modTitle" label="Mod title" />
      <cdk-accordion class="example-accordion">
        <cdk-accordion-item #accordionItem="cdkAccordionItem" role="button" tabindex="0">
          <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
            <mat-icon>settings</mat-icon>
            Show advanced options
          </div>
          <div role="region" [style.display]="accordionItem.expanded ? '' : 'none'">
            <cn-checkbox class="cn-cell-3" formControlName="autogenModId" label="Autogenerate IDs"></cn-checkbox>
            <cn-input class="cn-cell-3" formControlName="modId" label="Mod ID" regex="^[a-z0-9_]+$" />
            <cn-input class="cn-cell-3" formControlName="modIdKebab" label="Mod ID kebab-case" regex="^[a-z0-9-]+$" />
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
    </ng-template>
    <ng-template step>
      <textarea class="cn-cell-3" formControlName="description"></textarea>
    </ng-template>
    <ng-template step>
      <cn-input class="cn-cell-3" formControlName="group" label="Java group" />
      <cn-input class="cn-cell-3" formControlName="authors" label="Mod authors" />
      <cn-input class="cn-cell-3" formControlName="githubUser" label="GitHub owner" />
    </ng-template>
  </cn-stepper>
</form>
<button [disabled]="!validity" (click)="emitSubmit()">Download</button>
