<form [formGroup]="form">
  @if (stepperOrientation$ | async; as orientation) {
    <cn-stepper [orientation]="orientation" [steps]="steps">
      <ng-template step>
        <div class="cn-grid">
          <cn-select formControlName="minecraftVersion" hint="Target Minecraft version" label="Minecraft version" [ngClass]="getCellSpan(orientation, 6)" [options]="versions" />
          <cn-checkbox formControlName="includeConfig" label="Include configuration" [ngClass]="getCellSpan(orientation, 6) + ' ' + orientation" />
          <cn-select formControlName="loaders" hint="Which mod loaders to support" label="Loaders" [multiple]="true" [ngClass]="getCellSpan(orientation, 6)" [options]="loaders" />
          <cn-select formControlName="platforms" hint="Which platforms to publish on" label="Platforms" [multiple]="true" [ngClass]="getCellSpan(orientation, 6)" [options]="platforms" />
        </div>
      </ng-template>
      <ng-template step>
        <div class="cn-grid">
          <cn-input formControlName="modTitle" hint="Mod name" label="Mod title" [ngClass]="getCellSpan(orientation, 6)" />
          <cn-checkbox formControlName="autogenModId" label="Autogenerate IDs" [ngClass]="getCellSpan(orientation, 6) + ' ' + orientation" />
          <cn-input formControlName="modId" hint="Mod unique identifier" label="Mod ID" regex="^[a-z0-9_]+$" [ngClass]="getCellSpan(orientation, 6)" />
          <cn-input formControlName="modIdKebab" hint="Mod ID for URLs and packages" label="Mod ID kebab-case" regex="^[a-z0-9-]+$" [ngClass]="getCellSpan(orientation, 6)" />
        </div>
      </ng-template>
      <ng-template step>
        <div class="cn-grid" [class.short-step]="orientation === 'horizontal'">
          <cn-textarea class="cn-cell-12" formControlName="description" hint="Allows for multiline text" label="Mod description" />
        </div>
      </ng-template>
      <ng-template step>
        <div class="cn-grid" [class.short-step]="orientation === 'horizontal'">
          <cn-input formControlName="group" hint="Java group" label="Java group" [ngClass]="getCellSpan(orientation, 4)" />
          <cn-input formControlName="authors" hint="Comma separaed authors" label="Mod authors" [ngClass]="getCellSpan(orientation, 4)" />
          <cn-input formControlName="githubUser" hint="GitHub name" label="GitHub owner" [ngClass]="getCellSpan(orientation, 4)" />
        </div>
      </ng-template>
    </cn-stepper>
  }
  <div class="cn-grid form-footer">
    <cn-toggle class="cn-cell-8" formControlName="crystalNestMod" label="Are you a Crystal Nest's member?" />
    <cn-button class="cn-cell-4 align-self-end" icon="download" label="Download" [isDisabled]="!validity" (click)="emitSubmit()" />
  </div>
</form>
