:host {
  mat-sidenav {
    width: 64px;
    transition: width 0.2s;

    &.open {
      width: 256px;
    }
  }

  .cn-content {
    height: 100%;

    > mat-sidenav-content {
      width: calc(100% - 64px);
      height: 100%;
      min-width: 320px;
      min-height: 100%;
      margin-left: 64px;

      background-color: #8f59b7;
      background-image: none, radial-gradient(circle, rgba(255, 255, 255, 0.3021941198354342) 0%, rgba(130, 130, 130, 0.5963117668942577) 50%, rgba(0, 0, 0, 0.9016338957457983) 100%);
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      background-clip: border-box;
    }
  }
}
