@import "../../../../../styles/variables.scss";

:host {
  display: block;
  height: 100%;

  .sidebar-toggle {
    display: flex;
    width: calc($nav-icon-size * 2);
    height: calc($nav-icon-size * 2);
    background: white;

    > .sidebar-toggle-button {
      width: calc($nav-icon-size * 2);
      height: 100%;
      padding: calc($nav-icon-size / 2);

      > mat-icon {
        min-width: $nav-icon-size;
        width: $nav-icon-size;
        height: $nav-icon-size;
        font-size: $nav-icon-size;
        cursor: pointer;
      }
    }

    > .sidebar-toggle-title {
      display: flex;
      height: 100%;
      padding: calc($nav-icon-size / 2);
      align-items: center;
      color: white;
      font-size: $nav-icon-size;
      white-space: nowrap;
      font-family: "Silkscreen";
      color: black;
      cursor: pointer;
    }
  }

  .cn-container {
    height: 100%;

    > mat-sidenav {
      width: calc($nav-icon-size * 2);
      transition: width 0.2s;

      &.expanded {
        // $nav-icon-size * 2 (icon space) + $nav-icon-size / 2 * 2 (writing padding) + 275px (writing size)
        width: calc($nav-icon-size * 3 + 275px);
      }

      mat-list-item {
        height: calc($nav-icon-size * 2);

        .cn-nav-icon {
          display: flex;
          align-items: center;
          justify-content: start;
          padding: calc($nav-icon-size / 2);
          gap: $nav-icon-size;

          > mat-icon {
            min-width: $nav-icon-size;
            width: $nav-icon-size;
            height: $nav-icon-size;
            font-size: $nav-icon-size;
          }

          > span {
            font-size: calc($nav-icon-size / 2);
          }
        }
      }
    }

    > mat-sidenav-content {
      width: calc(100% - $nav-icon-size * 2);
      height: calc(100% - $nav-icon-size * 2);
      min-height: calc(100% - $nav-icon-size * 2);
      margin-left: calc($nav-icon-size * 2);
      margin-top: calc($nav-icon-size * 2);

      background-color: $background-color;
      background-image: none, radial-gradient(circle, #ffffff4d 0%, #82828298 50%, #000000e6 100%);
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      background-clip: border-box;
    }
  }
}
