@import "variables.scss";
@import "theme.scss";

:host {
  display: block;
  flex: 1;

  .cn-container {
    height: 100%;

    > mat-sidenav {
      width: $nav-icon-size * 2;
      transition: width 0.2s;
      background-color: $purple-500;

      &.expanded {
        // $nav-icon-size * 2 (icon space) + $nav-icon-size / 2 * 2 (writing padding) + 275px (writing size)
        width: $nav-icon-size * 3 + 275px;
      }

      mat-list-item {
        height: $nav-icon-size * 2;

        .cn-nav-icon {
          display: flex;
          align-items: center;
          justify-content: start;
          padding: calc($nav-icon-size / 2);
          gap: $nav-icon-size;

          > mat-icon {
            min-width: $nav-icon-size;
            width: $nav-icon-size;
            height: $nav-icon-size;
            font-size: $nav-icon-size;
          }

          > span {
            font-size: calc($nav-icon-size / 2);
          }
        }
      }
    }

    > mat-sidenav-content {
      height: 100%;
      background-color: $purple-400;
      background-image: none, radial-gradient(circle, #ffffff4d 0%, #82828298 50%, #000000e6 100%);
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      background-clip: border-box;
    }
  }
}
