.mat-mdc-card-header {
  padding: 1rem !important;
}

.mat-mdc-card-avatar {
  width: 4rem !important;
  height: 4rem !important;
  margin: 0 !important;
  border-radius: 0.25rem !important;
  align-self: center;
}

.mat-mdc-card-title {
  font-size: 2rem !important;
}
