@import "variables";

.mat-mdc-card-header {
  padding: 1rem !important;
}

.mat-mdc-card-avatar {
  width: 4rem !important;
  height: 4rem !important;
  margin: 0 !important;
  border-radius: 0.25rem !important;
  align-self: center !important;
}

.mat-mdc-card-title {
  font-size: 2rem !important;

  @media (max-width: $mobile-small) {
    font-size: 1.25rem !important;
  }
}

.mat-mdc-card-content {
  display: flex !important;
  flex-direction: column !important;
  flex: 1 !important;
  padding: 1rem !important;
}

.mdc-card__actions {
  margin-top: auto !important;
  justify-content: space-between !important;
  padding: 1rem !important;
}
