@import "variables";

.mat-divider {
  border-top-width: 2px !important;
  border-color: $cn-color-a700 !important;
  border-radius: $separator-border-radius;

  &.mat-divider-vertical {
    border-top-width: 0 !important;
    border-right-width: 2px !important;
  }
}
