@import "../../theme.scss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $purple-900;
}

::-webkit-scrollbar-thumb {
  background: $purple-500;
  border-radius: 8px;
}

// .cn-scrollbar-track {
//   background: $purple-a900;
// }

// .cn-scrollbar-track:hover {
//   background: $purple-a800;
// }

// .cn-scrollbar-thumb {
//   background: $purple-900;
//   border-radius: 8px;
// }
