div.mat-mdc-select-panel {
  padding: 0 !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
  margin: 0 16px !important;
}

.mat-mdc-option .mat-icon,
.mat-mdc-option .mat-pseudo-checkbox-full {
  margin: 0 !important;
  margin-left: 16px !important;
}
