div.mat-mdc-select-panel {
  padding: 0 !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
  margin: 0 16px !important;
}

.mat-mdc-option .mat-icon,
.mat-mdc-option .mat-pseudo-checkbox-full {
  margin: 0 !important;
  margin-left: 16px !important;
}

.mat-mdc-option:focus.mdc-list-item,
.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
  background-color: inherit !important;
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: var(--mat-option-focus-state-layer-color) !important;
}
