@import "variables";

.mdc-switch__ripple {
  display: none !important;
}

.mdc-switch.mdc-switch--unselected:enabled:focus:not(:active) .mdc-switch__handle::after {
  background: var(--mdc-switch-unselected-handle-color) !important;
}

.mdc-switch.mdc-switch--unselected:enabled:hover:not(:active) .mdc-switch__handle::after {
  background: var(--mdc-switch-unselected-focus-handle-color) !important;
}

.mdc-switch.mdc-switch--selected:enabled .mdc-switch__icon {
  fill: $cn-color-a500 !important;
}

.mat-mdc-slide-toggle .mdc-label {
  color: $cn-color-400 !important;
  margin-left: $label-gap !important;
}

.mdc-switch.mdc-switch--unselected:hover,
.mdc-switch.mdc-switch--unselected + .mdc-label:hover,
.mdc-switch.mdc-switch--selected.mdc-switch--checked:hover {
  background-color: inherit !important;
  filter: $hover-filter !important;
}
