.mdc-switch__ripple {
  display: none !important;
}

.mdc-switch.mdc-switch--unselected:enabled:focus:not(:active) .mdc-switch__handle::after {
  background: var(--mdc-switch-unselected-handle-color) !important;
}

.mdc-switch.mdc-switch--unselected:enabled:hover:not(:active) .mdc-switch__handle::after {
  background: var(--mdc-switch-unselected-focus-handle-color) !important;
}

.mdc-switch.mdc-switch--selected:enabled .mdc-switch__icon {
  fill: black !important;
}

.mat-mdc-slide-toggle .mdc-label {
  color: #e3e3e3 !important;
  margin-left: 0.5rem !important;
}

.mdc-switch.mdc-switch--unselected:hover,
.mdc-switch.mdc-switch--unselected + .mdc-label:hover,
.mdc-switch.mdc-switch--selected.mdc-switch--checked:hover {
  background-color: inherit !important;
  filter: brightness(1.2) !important;
}
