<mat-card role="listitem">
  <mat-card-header>
    <img mat-card-avatar [src]="picture" />
    <mat-card-title>{{ mod.title }}</mat-card-title>
    <mat-card-subtitle>{{ mod.subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="preview" />
  <mat-card-content>
    <markdown [data]="mod.description" />
    <div class="cn-grid-tiny details">
      <cn-label class="cn-cell-12" label="Minecraft" [value]="mod.versions" />
      <cn-label class="cn-cell-12" label="Loader" [icons]="mod.loaders" [value]="formatLoaders(mod.loaders)" />
      <cn-label class="cn-cell-12" label="Side" [icons]="sideIcon" [value]="side" />
      <div class="cn-cell-12 releases">
        <cn-label label="Release" [value]="mod.stable" />
        @if (mod.stable !== mod.latest) {
          <cn-label label="Prerelease" [value]="mod.latest" />
        }
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <ul>
      @if (mod.isTemplate) {
        <li><cn-link-button icon="/assets/images/template.png" [link]="template" /></li>
      }
      @if (mod.isApi) {
        <li><cn-link-button icon="/assets/images/api.png" [link]="api" /></li>
      }
      @if (mod.hasWiki) {
        <li><cn-link-button icon="/assets/images/wiki.png" [link]="wiki" /></li>
      }
    </ul>
    <ul>
      <li><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/github/github128.png" [link]="github" /></li>
      <li><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/modrinth/modrinth128.png" [link]="modrinth" /></li>
      <li><cn-link-button icon="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/curseforge/curseforge128.png" [link]="curseforge" /></li>
    </ul>
  </mat-card-actions>
</mat-card>
