@import "variables";

:host {
  mat-card {
    height: 100%;

    mat-card-content {
      > .description {
        max-height: 20rem;
        overflow-y: auto;

        &.scrollable-bottom {
          mask-image: linear-gradient(0deg, transparent, black 20%);
        }

        &.scrollable-top {
          mask-image: linear-gradient(180deg, transparent, black 20%);
        }

        &.scrollable-bottom.scrollable-top {
          mask-image: linear-gradient(0deg, transparent, black 20%, black 80%, transparent 100%);
        }
      }

      > .details {
        margin-top: auto;
        padding-top: 2rem;

        > .releases {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: $grid-gap-tiny;
        }
      }
    }

    mat-card-actions {
      ul {
        list-style: none;
        display: flex;
        gap: 0.5rem;

        > li {
          height: 2rem;

          > img {
            height: 100%;
          }
        }
      }
    }
  }
}
