@import "variables";

:host {
  position: sticky;
  float: right;
  z-index: 100;
  bottom: 5rem;
  right: 2rem;
  height: 0;
  margin-top: -5rem;

  &:not(.visible) {
    display: none;
  }

  > button {
    width: 3rem;
    height: 3rem;
  }

  mat-icon {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
  }

  @media (max-width: $desktop-tiny) {
    bottom: 4rem;
    right: 1rem;
    margin-top: -4rem;
  }
}
