<!-- If clauses currently need to have no whitespaces inside them to correctly project mat elements into their proper slot. -->
<div #multiselect>
  <mat-form-field appearance="outline" floatLabel="auto">
    @if (label) {<mat-label>{{ label }}</mat-label>}
    <div class="cn-multiselect-input-wrapper">
      <input #inputElement matInput [disabled]="isDisabled" [errorStateMatcher]="errorMatcher" [required]="isRequired" [(ngModel)]="displayValue" (blur)="blur($event)" (drag)="prevent($event)" (drop)="prevent($event)" (keydown)="preventInput($event)" (paste)="prevent($event)" />
      <mat-icon tabindex="-1" (click)="togglePanel($event)">{{ icon }}</mat-icon>
    </div>
    @if (invalid) {<mat-error>{{ errorMessage }}</mat-error>}
    <cn-multiselect-panel [field]="multiselect" (panelClick)="panelClick($event)" (panelToggle)="panelToggle($event)">
      <cn-multiselect-table [visible]="panelOpen" [(options)]="options" (confirm)="confirm($event)" />
    </cn-multiselect-panel>
  </mat-form-field>
</div>
