<div class="wrapper">
  <div class="title">
    <h1>Crystal Nest Website is WIP!</h1>
    <h2>Meanwhile, consider supporting via the links below!</h2>
    <h3>For the MultiLoaderSkeleton generator <a href="">click here</a>!</h3>
  </div>

  <div class="support">
    <div>
      <a href="https://www.twitch.tv/crystal_spider_">
        <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/twitch/twitch256.png" />
      </a>

      <a href="https://www.patreon.com/crystalspider">
        <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/patreon/patreon256.png" />
      </a>

      <a href="https://ko-fi.com/crystalspider">
        <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/kofi/kofi256.png" />
      </a>

      <a href="https://github.com/crystal-nest">
        <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/github/github256.png" />
      </a>

      <a href="https://modrinth.com/user/CrystalSpider">
        <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/modrinth/modrinth256.png" />
      </a>

      <a href="https://www.curseforge.com/members/crystal_spider_/projects">
        <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/curseforge/curseforge256.png" />
      </a>
    </div>

    <a href="https://bisecthosting.com/crystalspider">
      <img class="banner" src="https://www.bisecthosting.com/partners/custom-banners/d559b544-474c-4109-b861-1b2e6ca6026a.webp" />
    </a>
  </div>
</div>

<router-outlet />
