:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #150923;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
  height: 70px;
  padding-left: 16px;
  padding-right: 16px;
  padding: 16px;

  .home {
    display: flex;
    color: white;
    font-family: "Silkscreen";
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    padding: 0;
  }

  .left {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    gap: 16px;

    .home {
      display: flex;
      color: white;
      font-family: "Silkscreen";
      background-color: transparent;
      border: 0;
      cursor: pointer;
      width: fit-content;
      height: fit-content;
      font-size: 24px;
      padding: 0;
    }

    .separator {
      height: 100%;
      width: 0;
      border: 1px solid rgba(255, 255, 255, 0.9);
      border-radius: 8px;
    }

    .support {
      color: white;
      font-family: "Silkscreen";
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: start;
      align-items: center;
      gap: 16px;
      a {
        height: 100%;
        width: fit-content;
      }
      img {
        height: 100%;
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
        transition-duration: 200ms;

        &:hover {
          box-shadow: rgba(50, 50, 93, 1) 0px 4px 10px -2px, rgba(0, 0, 0, 1) 0px 2px 6px -2px;
          transform: translateY(-0.15em);
        }
      }
    }

    a {
      height: 100%;
      width: fit-content;
    }
    img {
      height: 100%;
      border-radius: 8px;
      box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
      transition-duration: 200ms;

      &:hover {
        box-shadow: rgba(50, 50, 93, 1) 0px 4px 10px -2px, rgba(0, 0, 0, 1) 0px 2px 6px -2px;
        transform: translateY(-0.15em);
      }
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    button {
      background-color: transparent;
      border: 2px solid #fefefe;
      color: #fefefe;
      padding: 0.75em 1.25em;
      cursor: pointer;
      font-size: 1em;
      border-radius: 8px;
      text-align: center;
      font-family: "Silkscreen";
      font-style: normal;
      box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
      transition-duration: 200ms;

      &:hover {
        color: #8f59b7;
        background-color: #fefefe;
        box-shadow: rgba(50, 50, 93, 1) 0px 4px 10px -2px, rgba(0, 0, 0, 1) 0px 2px 6px -2px;
        transform: translateY(-0.15em);
      }
    }
  }
}
