<header>
  <img class="spider" src="../assets/spider.png" />
  <div class="bubble">
    <span>Welcome in the Crystal Nest!</span>
  </div>
</header>

<main>
  <h1>We are cleaning some cobwebs out, in the meanwhile...</h1>
  <div>
    <h2>...consider supporting us!</h2>
    <div>
      <a href="https://www.twitch.tv/crystal_spider_">
        <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/twitch/twitch256.png" />
      </a>

      <a href="https://www.patreon.com/crystalspider">
        <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/patreon/patreon256.png" />
      </a>

      <a href="https://ko-fi.com/crystalspider">
        <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/kofi/kofi256.png" />
      </a>

      <a href="https://github.com/crystal-nest">
        <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/github/github256.png" />
      </a>

      <a href="https://modrinth.com/user/CrystalSpider">
        <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/modrinth/modrinth256.png" />
      </a>

      <a href="https://www.curseforge.com/members/crystal_spider_/projects">
        <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/curseforge/curseforge256.png" />
      </a>
    </div>
  </div>
</main>

<footer>
  <a href="https://bisecthosting.com/crystalspider">
    <img class="banner" src="https://www.bisecthosting.com/partners/custom-banners/d559b544-474c-4109-b861-1b2e6ca6026a.webp" />
  </a>
</footer>

<router-outlet />
