:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
}

header {
  display: flex;
  padding: 16px;

  .spider {
    width: 128px;
    height: 128px;
  }

  .bubble {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Silkscreen";
    font-size: 18px;
    background-color: #fefefe;
    color: #171717;
    padding: 12px;
    box-shadow: 0 -4px #fefefe, 0 -8px #171717, 4px 0 #fefefe, 4px -4px #171717, 8px 0 #171717, 0 4px #fefefe, 0 8px #171717, -4px 0 #fefefe, -4px 4px #171717, -8px 0 #171717, -4px -4px #171717, 4px 4px #171717;

    box-sizing: border-box;
    width: 200px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      box-sizing: border-box;
      height: 4px;
      width: 4px;
      top: 20px;
      left: -8px;
      background: #fefefe;
      box-shadow: -4px -4px #fefefe, -4px 0 #fefefe, -8px 0 #fefefe, 0 -8px #fefefe, -4px 4px #171717, -8px 4px #171717, -12px 4px #171717, -16px 4px #171717, -12px 0 #171717, -8px -4px #171717, -4px -8px #171717, 0 -4px #fefefe;
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: "Silkscreen";
    font-weight: 300;
    font-style: normal;
    color: #fefefe;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-family: "Silkscreen";
      font-weight: 300;
      font-style: normal;
      flex: 1;
      color: #fefefe;
    }

    div {
      display: flex;
      flex-direction: row;
      gap: 16px;

      a {
        border-radius: 12px;
        display: flex;
        opacity: 0.9;
        width: 80px;
        height: 80px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        &:hover {
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

footer {
  display: flex;
  width: 100%;
  padding: 16px;
  opacity: 0.9;
  border-radius: 12px;
  justify-content: center;

  &:hover {
    opacity: 1;
  }

  a {
    display: flex;
    width: fit-content;

    img {
      border-radius: 12px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  }
}
