<header>
  <h1>Welcome to the Crystal Nest!</h1>
</header>

<main>
  <h2>We are dusting off some cobwebs, in the meantime...</h2>
  <button [routerLink]="['/generator']">Generate your Multi-Loader Skeleton</button>
  <div>
    <h3>...consider supporting us!</h3>
  </div>
</main>

<footer>
  <div class="social">
    <a class="support" href="https://www.twitch.tv/crystal_spider_" target="_blank">
      <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/twitch/twitch256.png" />
    </a>

    <a class="support" href="https://www.patreon.com/crystalspider" target="_blank">
      <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/patreon/patreon256.png" />
    </a>

    <a class="support" href="https://ko-fi.com/crystalspider" target="_blank">
      <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/kofi/kofi256.png" />
    </a>

    <a class="support" href="https://github.com/crystal-nest" target="_blank">
      <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/github/github256.png" />
    </a>

    <a class="support" href="https://modrinth.com/user/CrystalSpider" target="_blank">
      <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/modrinth/modrinth256.png" />
    </a>

    <a class="support" href="https://www.curseforge.com/members/crystal_spider_/projects" target="_blank">
      <img src="https://raw.githubusercontent.com/crystal-nest/mod-fancy-assets/main/curseforge/curseforge256.png" />
    </a>
  </div>
  <div class="banner">
    <a class="support" href="https://bisecthosting.com/crystalspider" target="_blank">
      <img src="https://www.bisecthosting.com/partners/custom-banners/d559b544-474c-4109-b861-1b2e6ca6026a.webp" />
    </a>
  </div>
</footer>
