@use "@angular/material" as material;
@import "styles/variables", "styles/grids", "styles/mixins";
@import "styles/override/card.scss", "styles/override/input", "styles/override/menu", "styles/override/stepper.scss", "styles/override/select.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Lexend, Roboto, "Helvetica Neue", sans-serif;
}

ul {
  list-style-position: inside;
}

a {
  color: #68b0f3;

  &:hover {
    color: #86bfff;
  }
  &:active {
    color: #95c5ff;
  }
}
