@use "@angular/material" as material;
@import "variables", "grids";
@import "override/button", "override/card", "override/checkbox", "override/divider", "override/input", "override/markdown", "override/menu", "override/select", "override/snackbar", "override/stepper", "override/toggle";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  width: 100%;
  font-family: Lexend, Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style-position: inside;
}

a {
  color: #68b0f3;

  &:hover {
    color: #86bfff;
  }
  &:active {
    color: #95c5ff;
  }
}
