@use "@angular/material" as material;
@import "variables", "grids";
@import "override/button", "override/card", "override/checkbox", "override/divider", "override/input", "override/markdown", "override/menu", "override/select", "override/snackbar", "override/stepper", "override/toggle";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  min-width: $min-width;
}

body {
  min-height: 100%;
  min-width: $min-width;
  display: flex;
  flex-direction: column;
}

html,
body {
  width: 100%;
  font-family: Lexend, Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin-bottom: 1rem;
}

ul,
ol {
  list-style-position: outside;
}

a {
  color: #68b0f3;
  text-decoration: none;

  &:hover {
    color: #86bfff;
    text-decoration: none;
  }
  &:active {
    color: #95c5ff;
    text-decoration: none;
  }
}

div.cn-section-content {
  padding-left: 2rem;
  line-height: 1.5;

  > mat-divider {
    margin: 0.75rem 33%;
  }

  > *.eop {
    margin-bottom: 0.5rem;
  }

  > span {
    display: block;
  }

  > ul {
    margin: 0.25rem 0;
  }

  ul {
    padding-left: 1rem;
  }
}
