@use "@angular/material" as material;

@include material.core();

$purple-50: #ffffff;
$purple-100: #ffffff;
$purple-200: #ffffff;
$purple-300: #ffffff;
$purple-400: #ffffff;
$purple-500: #252140;
$purple-600: #ffffff;
$purple-700: #120d26;
$purple-800: #ffffff;
$purple-900: #ffffff;

$purple-a50: #ffffff;
$purple-a100: #ffffff;
$purple-a200: #ffffff;
$purple-a300: #ffffff;
$purple-a400: #ffffff;
$purple-a500: #ffffff;
$purple-a600: #b073d9;
$purple-a700: #ffffff;
$purple-a800: #ffffff;
$purple-a900: #ffffff;

$purple-palette: (
  50: $purple-50,
  100: $purple-100,
  200: $purple-200,
  300: $purple-300,
  400: $purple-400,
  500: $purple-500,
  600: $purple-600,
  700: $purple-700,
  800: $purple-800,
  900: $purple-900,
  contrast: (
    50: $purple-a50,
    100: $purple-a100,
    200: $purple-a200,
    300: $purple-a300,
    400: $purple-a400,
    500: $purple-a500,
    600: $purple-a600,
    700: $purple-a700,
    800: $purple-a800,
    900: $purple-a900,
  ),
);

$primary-palette: material.define-palette($purple-palette);
$accent-palette: material.define-palette($purple-palette);
$warn-palette: material.define-palette(material.$red-palette);

// https://material.angular.io/guide/theming#multiple-themes-in-one-file
$cn-light-theme: material.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
    typography: material.define-typography-config(),
    density: 0,
  )
);

$cn-dark-theme: material.define-dark-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
  )
);

@include material.core-theme($cn-light-theme);
@include material.sidenav-theme($cn-light-theme);
@include material.icon-theme($cn-light-theme);
@include material.button-theme($cn-light-theme);
@include material.form-field-theme($cn-light-theme);
@include material.stepper-theme($cn-light-theme);
@include material.checkbox-theme($cn-light-theme);
@include material.slide-toggle-theme($cn-light-theme);
@include material.input-theme($cn-light-theme);
@include material.select-theme($cn-light-theme);
@include material.progress-bar-theme($cn-light-theme);
@include material.card-theme($cn-light-theme);
@include material.menu-theme($cn-light-theme);

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --mdc-elevated-card-container-color: #202020;
    --mat-menu-container-color: #1e1b33;
  }
  @include material.core-color($cn-dark-theme);
  @include material.sidenav-color($cn-dark-theme);
  @include material.icon-color($cn-dark-theme);
  @include material.button-color($cn-dark-theme);
  @include material.form-field-color($cn-dark-theme);
  @include material.stepper-color($cn-dark-theme);
  @include material.checkbox-color($cn-dark-theme);
  @include material.slide-toggle-color($cn-dark-theme);
  @include material.input-color($cn-dark-theme);
  @include material.select-color($cn-dark-theme);
  @include material.progress-bar-color($cn-dark-theme);
  @include material.card-color($cn-dark-theme);
  @include material.menu-color($cn-dark-theme);
}
