:host {
  color: #e3e3e3;

  > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    width: fit-content;
    text-decoration: none;
    color: inherit;

    &:hover {
      filter: brightness(1.2);

      > mat-icon {
        visibility: visible;
      }
    }

    > mat-icon {
      visibility: hidden;
    }

    > h1 {
      font-size: 2em;
      font-weight: 400;
    }
  }

  > mat-divider {
    margin: 0.125rem 0 1rem 1.5rem;
  }
}
