@import "variables", "theme";

:host {
  color: $cn-color-400;

  > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    width: fit-content;
    text-decoration: none;
    color: inherit;

    &:hover {
      filter: $hover-filter;

      > mat-icon {
        visibility: visible;
      }
    }

    > mat-icon {
      visibility: hidden;
      min-width: $icon-min-width;
    }

    > h1 {
      font-size: 2em;
      font-weight: 400;
    }
  }

  > mat-divider {
    margin: $divider-margin;
  }
}
