<!-- If clauses currently need to have no whitespaces inside them to correctly project mat elements into their proper slot. -->
<mat-form-field appearance="outline" floatLabel="auto">
  @if (label) {<mat-label>{{ label }}</mat-label>}
  <input #inputElement autocomplete="off" charFilter matInput [disabled]="isDisabled" [errorStateMatcher]="errorMatcher" [regex]="regex" [required]="isRequired" [(ngModel)]="value" (blur)="blur()" (input)="input()" />
  @if (value && !isDisabled) {<button mat-icon-button matSuffix tabindex="-1" type="button" (click)="empty($event)"><mat-icon tabindex="-1">close</mat-icon></button>}
  @if (invalid) {<mat-error>{{ errorMessage }}</mat-error>}
</mat-form-field>
