<!-- If clauses currently need to have no whitespaces inside them to correctly project mat elements into their proper slot. -->
<mat-form-field appearance="outline" floatLabel="auto">
  @if (label) {<mat-label>{{ label }}</mat-label>}
  <input #inputElement autocomplete="off" charFilter matInput [disabled]="isDisabled" [errorStateMatcher]="errorMatcher" [regex]="regex" [required]="isRequired" [(ngModel)]="value" (blur)="blur()" (input)="input()" />
  @if (value && !isDisabled) {<mat-icon matSuffix tabindex="-1" (click)="empty($event)">close</mat-icon>}
  @if (hint) {<mat-hint>{{ hint }}</mat-hint>}
  @if (invalid) {<mat-error>{{ errorMessage }}</mat-error>}
</mat-form-field>
