:host {
  > section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 24rem), 1fr));
    grid-gap: 2rem;
    padding: 2rem 1rem;
    padding-top: calc(2rem - 22px);

    > * {
      min-width: 24rem;
    }
  }
}
