@import "variables.scss";

:host {
  > section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 1fr));
    gap: 2rem;
    padding: 2rem;

    > * {
      min-width: 24rem;
    }

    @media (max-width: $desktop-tiny) {
      padding: 1rem;

      > * {
        min-width: 16rem;
      }
    }
  }
}
